body {font-family: Arial, Helvetica, sans-serif;}

#mybtn{
    padding: 10px;
}

  
  
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus 

